<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head')%>

    <body>
        <%- include('../partials/header')%>
            <section class="section producto">
                <div>
                    <img src="<%= product.image%>" class="img" />
                </div>
                <div>
                    <div class="info">
                        <h3 class="title-prodcto"><strong><%= product.name%></h3></strong>
                            <p class="precio">$
                                <%= product.price%>
                            </p>
                            <p class="stock">
                                <%= product.stock?'Disponible':'Agotado'%>
                            </p>
                            <a href="carrito"></a><button class="btn">Añadir al carrito</button></a>
                            <span>Con esta compra sumas 1000 puntos</span>
                            <br>
                    </div>
                    <div>
                        <h1>Descripción</h1>
                        <p>
                            <%= product.description%>
                        </p>
                    </div>
                </div>
            </section>

            <%- include('../partials/footer')%>
                <script src="/public/js/app.js">
                </script>
    </body>

</html>