<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head')%>

    <body>
        <%- include('../partials/header')%>
            <div class="products-container section">
                <%products.forEach(product=>{%>
                    <div class="product-card" data-id="<%= product.id%>">
                        <h3>
                            <%= product.name%>
                        </h3>
                        <div>
                            <img src="<%= product.image%>" alt="Imagen de <%= product.name%>">
                        </div>
                        <div>
                            <p class="precio">
                                $
                                <%= product.price%>
                            </p>
                            <div class="contenedor-btn">
                                <button class="btn button-edit">Editar</button>
                                <button class="btn button-detail">Ver detalle</button>
                            </div>
                        </div>
                    </div>
                    <%})%>
            </div>
            <%- include('../partials/footer')%>
                <script src="/public/js/btns.js">
                </script>
    </body>

</html>